.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}

.custom-button{
	display: block;
	border-radius: 0;
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
	background: #002266;
	font-family: 'Brandon Grotesque', 'brandon-grotesque', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin: 0 auto;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: -webkit-transform 400ms cubic-bezier(0.63, 0.64, 0.3, 1);
	transition: transform 400ms cubic-bezier(0.63, 0.64, 0.3, 1);
	position: relative;
	bottom: 64px;
	&:hover{
	    -webkit-transform: rotate(60deg);
	 -moz-transform: rotate(60deg);
	   -o-transform: rotate(60deg);
	      transform: rotate(60deg);
	      background: #0137A2;
	}

	&:focus{
	    -webkit-transform: rotate(30deg);
	 -moz-transform: rotate(30deg);
	   -o-transform: rotate(30deg);
	      transform: rotate(30deg);
	}
} // .custom-button