<!DOCTYPE html>
<head>
   <title>Admin Panel</title>
   <link rel="icon" href="/assets/shpe_austin_icon.png" type="image/x-icon" />
   <link rel="stylesheet" type="text/css" href="/stylesheets/libs/bootstrap-3.3.6-dist/css/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="/dist/main.css?v=<%= revision %>">
   <script src = "/javascripts/libs/jquery-2.1.4.min.js"></script>
   <!-- <script src="/javascripts/admin.js?v=<%= revision %>"></script> -->
   <script src="/dist/admin.min.js?v=<%= revision %>"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<% include navigation.html %>
<body>
   <div class="admin-container">
      <h1 class = "dark-shpe-blue center-text">Admin Panel </h1>
      <h4 class = "center-text">This page is intended for administrators only.</h4>
      <div class="cards">
         <div class="form-container">
            <div class="check-container">
               <h3 class="title"> New Job Posting </h3>
               <p> Please input the required information in the following text-boxes. Result will appear in the <a href="/membership"> membership page.</a></p>
               <form>
                  <div class="form-group">
                     <span class="text-muted" style="float:right;"><em><span style="color:red;">*</span> Indicates required field</em></span>
                  </div>
                  <br>
                  <div class="form-group row">
                     <label for="position" class="col-sm-2 job-label form-control-label">Position:<span style="color:red;">*</span></label>
                     <div class="col-sm-10">
                        <input type="position" class="form-control" id="position" name="position" placeholder="Position" required>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="company" class="col-sm-2 job-label form-control-label">Company:<span style="color:red;">*</span></label>
                     <div class="col-sm-10">
                        <input type="company" class="form-control" id="company" name="company" placeholder="Company" required>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="description" class="col-sm-2 job-label form-control-label">Description:<span style="color:red;">*</span></label>
                     <div class="col-sm-10">
                        <input type="description" class="form-control" id="description" name="description" placeholder="Description" required>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="url" class="col-sm-2 job-label form-control-label">Link:<span style="color:red;">*</span></label>
                     <div class="col-sm-10">
                        <input type="url" class="form-control" id="url" name="url" placeholder="Job Posting URL" required>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="poster" class="col-sm-2 job-label form-control-label">Poster:<span style="color:red;">*</span></label>
                     <div class="col-sm-10">
                        <input type="poster" class="form-control" id="poster" name="poster" placeholder="Your Name" required>
                     </div>
                  </div>
                  <div class="button-container">
                     <button data-request="new-job" type="submit" class="btn btn-primary submit-request">Submit</button>
                  </div>
               </form>
            </div>
         </div>

         <div class="vertical-stack">
            <div class="form-container">
               <div class="check-container">
                  <h3 class="title"> New Announcement </h3>
                  <p> Please select your name first, then input your new announcement. Result will appear in the <a href="/"> home page.</a></p>
                  <form>
                     <div class="form-group announcement-input">
                        <div class="col-sm-6 form-announ">
                           <label for="officer" class="sr-only">Officer Name:</label>
                           <select class="form-control" id="officer" name="officer">
                              <!-- Options get dynamically populated -->
                           </select>
                        </div>
                        <div class="form-announ">
                           <label for="announcement" class="sr-only">Announcement</label>
                           <!-- <input id="announcement" class="form-control input-group-lg reg_name" type="text" name="announcement" title="announcement" placeholder="Announcement"> -->
                           <textarea id="announcement" type="text" name="announcement" title="announcement" class="form-control" rows="5"></textarea>
                        </div>
                     </div>
                     <div class="button-container">
                        <button data-request="new-announcement" type="submit" class="btn btn-primary submit-request">Submit</button>
                     </div>
                  </form>
               </div> <!-- .check-container -->
            </div> <!-- .form-container -->


            <div class="form-container">
               <div class="check-container">
                  <h3 class="title"> Google Form </h3>
                  <p> Please input the new URL for the google form. Form is located in the <a href="/survey">survey page.</a></p>
                  <form>
                     <div class="form-group">
                        <div class="col-sm-6 google-link-container">
                           <label for="googleLink" class="sr-only">Google Link</label>
                           <input id="googleLink" class="form-control input-group-lg reg_name" type="text" name="googleLink" title="googleLink" placeholder="Embedded Google Link">
                        </div>
                     </div>
                     <div class="button-container">
                        <button data-request="googleForm" type="submit" class="btn btn-primary submit-request">Submit</button>
                     </div>
                  </form>
               </div> <!-- .check-container -->
            </div> <!-- .form-container -->
         </div> <!-- .vertical-stack -->

      </div> <!-- .cards -->
      <hr>
      <h1 class = "dark-shpe-blue center-text">Database Operations</h1>
      <h4 class = "center-text">Please only use this if you know what you're doing!</h4>
      <div class="cards">
         <div class="form-container">
            <div class="check-container">
               <h3 class="title"> Deleting Data </h3>
               <p> Select the keys that you would like to delete in the Redis database.</p>
               <form>
                  <% keys.forEach(function(key) { %>
                  <div class="form-check">
                     <label class="form-check-label">
                     <input class="form-check-input" type="checkbox" value= <%= key %>>
                     <%= key %>
                     </label>
                  </div>
                  <% }); %>
                  <div class="button-container">
                     <button data-request="delete" type="submit" class="btn btn-primary submit-request">Submit</button>
                  </div>
               </form>
            </div>
            <!-- .check-container -->
         </div>
         <!-- .form-container -->
         <div class="form-container">
            <div class="check-container">
               <h3 class="title"> Viewing Data </h3>
               <p> Select the keys that you would like to view in the Redis database.</p>
               <form>
                  <fieldset class="form-group">
                     <% keys.forEach(function(key, index) { %>
                     <div class="radio">
                        <label>
                        <input type="radio" name="keyoptions" value=<%= key %> <%if(index == 0){ %> checked <%};%>>
                        <%= key %>
                        </label>
                     </div>
                     <% }); %>
                  </fieldset>
                  <div class="button-container">
                     <button data-request="view" type="submit" class="btn btn-primary submit-request">Submit</button>
                  </div>
               </form>
            </div>
            <!-- .check-container -->
         </div>
         <!-- .form-container -->
         <div class="form-container update">
            <div class="check-container">
               <h3 class="title"> Updating Data </h3>
               <p> Select the keys that you would like to update in the Redis database.</p>
               <form>
                  <fieldset class="form-group">
                     <% keys.forEach(function(key, index) { %>
                     <div class="radio">
                        <label>
                        <input type="radio" name="updateoptions" id="data-<%= key %>" value=<%= key %> <%if(index == 0){ %> checked <%};%>>
                        <%= key %>
                        </label>
                     </div>
                     <% }); %>
                  </fieldset>
                  <p class="update-description"></p>
                  <label class="change-data label-area" for="data-update">New Data <span class="parenthesis">(JSON format)</span></label>
                  <textarea class="change-data form-control" id="data-update" rows="3"></textarea>
                  <div class="button-container">
                     <button data-request="update" type="submit" class="btn btn-primary submit-request">Submit</button>
                  </div>
               </form>
            </div>
            <!-- .check-container -->
         </div>
         <!-- .form-container -->
      </div>
      <!-- .cards -->
      <div class ="json-container">
         <div class="output-container">
            <p class="copy-status"></p>
            <i class="fa fa-files-o" id="copy-text" title="Copy JSON" aria-hidden="true"></i>
            <pre>
            <code class="output">
            </code>
          </pre>
         </div>
         <div id="hidden-output"></div>
      </div>
   </div>
   <!-- .admin-container -->
</body>
</html>