<!DOCTYPE html>
   <head>
      <title>Contact</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/libs/bootstrap-3.3.6-dist/css/bootstrap.min.css">
      <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/main.css?v=<%= revision %>"> -->
      <link rel="stylesheet" type="text/css" href="/dist/main.css?v=<%= revision %>">
      <script src = "/javascripts/libs/jquery-2.1.4.min.js"></script>
      <script src="/dist/contact.min.js?v=<%= revision %>"></script>
      <!--<script src="/javascripts/contact.js?v=<%= revision %>"></script>-->
      <script src="/socket.io/socket.io.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type="text/javascript">
         jQuery(function($){
         	$(document).ready(function() {
         		$("#message").keyup(function(event){
         			if(event.keyCode == 13){
            			$("#submit-button").click();
         			}
         		});
         	});
         });
      </script>
   </head>
   <% include navigation.html %>
   <body>
      <div class = "contact-container">
         <div class = "contact-form">
            <div class="toggle">
               <button class="active" id="email-toggle">E-Mail</button>
               <button class="inactive" id="physical-toggle">Physical Mail</button>
            </div>

            <div class="envelope-container">
               <div class="huge-envelope">
                  <span class="stamp"></span>
                  <div class="sendFrom">
                     <ul class="sendInformation">
                        <li>John Doe</li>
                        <li>110 Inner Campus Drive</li>
                        <li>PO Box 8312</li>
                        <li>Austin, TX 78729</li>
                     </ul>   
                  </div>
                  <div class="sendTo">
                     <ul class="sendInformation">
                        <li>Attn: SHPE Austin</li>
                        <li>PO Box 80765</li>
                        <li>Austin, TX 78708</li>
                     </ul>
                  </div>
               </div>
            </div>
            <form class="form-email" id="email" method = "post" action="contact">
               <div class="form-group">
                  <span class="text-muted" style="float:right;"><em><span style="color:red;">*</span> Indicates required field</em></span>
               </div>
               <br>
               <div class="form-group row">
                  <label for="name" class="col-sm-2 form-control-label">Name:<span style="color:red;">*</span></label>
                  <div class="col-sm-10">
                     <input type="name" class="form-control" id="name" name="name" placeholder="Name" required>
                  </div>
               </div>
               <div class="form-group row">
                  <label for="email" class="col-sm-2 form-control-label">E-Mail:<span style="color:red;">*</span></label>
                  <div class="col-sm-10">
                     <input type="email" class="form-control" id="email" name="email" placeholder="E-mail Address" required>
                  </div>
               </div>
               <div class="form-group row">
                  <label for="phone-number" class="col-sm-2 form-control-label">Phone #:<span style="color:red;">*</span></label>
                  <div class="col-sm-10">
                     <input type="tel"  class="form-control" id="phone" name="phone" placeholder="Phone Number" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 40) || (event.charCode == 41) || (event.charCode == 45)' required>
                  </div>
               </div>
               <label for="sel1">Category:</label>
               <select class="form-control" id="sel1" name="category">
                  <option>General</option>
                  <option>Athletics</option>
                  <option>Corporate</option>
                  <option>Events</option>
                  <option>Mentorship</option>
                  <option>National/Regional Conference</option>
                  <option>Scholarship</option>
                  <option>Website</option>
                  <option>Other</option>
               </select>
               <fieldset class="form-group">
                  <label for="message">Message:</label><span style="color:red;">*</span></label>
                  <textarea class="form-control" id="message" rows="7" name="message" placeholder="How can we help?"required></textarea>
               </fieldset>
               <div id="form-submission" class="form-group row">
                  <div class="col-sm-offset-2 col-sm-10">
                     <button id="submit-button" type="submit" class="custom-button">Send It</button>
                  </div>
               </div> <!-- #form-submission -->

            </form>
         </div> <!-- .contact-form -->
         <div id="chat-container">
            <div id="chat-header">
               Online Chat
               <i class="fa fa-angle-double-down"></i>
            </div>
            <div class="content-container">
               <div id="chat-content">
                  <p id="name-prompt"> Please enter your name to start chatting. </p>
               </div>
               <form id="chat" action="">
                  <input id="chat-message" autocomplete="off" placeholder="Enter a message" /><button id="send-chat">Send</button>
               </form>
            </div>
         </div> <!-- #chat-container -->
         <div title ="Subscribe to newsletter" class="mailchimp-subscribe" data-mailchimp=<%= mailchimp %>>
            <div class="subscribe-container">
               <i class="fa fa-newspaper-o" aria-hidden="true"></i>
               <p id="regular"> Subscribe to our newsletter! </p>
               <p id="small">Subscribe!</p>
            </div>
         </div> <!-- .mailchimp-subscribe -->
      </div>
   </body>
</html>