<html>
   <head>
      <title>Home</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
      <script src = "/javascripts/libs/jquery-2.1.4.min.js"></script>
      <script src = "/javascripts/index.js"></script>
   </head>

	<body>
		<%include navigation.html%>

		<div id="info">
		</div>

<!-- https://desandro.github.io/3dtransforms/docs/carousel.html -->
	<div id="newsletter">
		<div id="carousel-container">
		  <div id="carousel">
		    <div class="item a"></div>
		    <div class="item b"></div>
		    <div class="item c"></div>
		    <div class="item d"></div>
		    <div class="item e"></div>
		    <div class="item f"></div>
		  </div>
		  	<div id="prev">Prev</div>
		 	<div id="next">Next</div>
		</div>

		

		<div id ="outer-event-recap">
			<div id="event-recap">
				<p id = "title"></p>
				<p id = "description"> </p>
			</div>
		</div>
	</div>

	
	

	</body>
</html>