<html>
   <head>
      <link rel="stylesheet" href="/stylesheets/libs/font-awesome-4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/navigation.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type="text/javascript">
         jQuery(function($){
           $( '.fa-bars' ).click(function(){
              $('.responsive-menu').toggleClass('expand');
              $('.main-page-container').toggle();
              $('.officer-container').toggle();
              $('.contact-container').toggle();
              $('.membership-container').toggle();
              $('.about-container').toggle();
            });

         }); 
      </script>
   </head>
   <body>
      <div class = "navigator-container">
        <!-- This only shows on small browsers/mobile -->
        <div class = "shpe-austin">
           <a class="dark-shpe-blue mobile-shpe" href="/">SHPE Austin</a>
           <i class="fa fa-bars fa-3x dark-shpe-blue responsive-menu"></i>
        </div>

        <div class="mobile-nav">
             <div class="responsive-menu">
                <ul class="ul-hamburger-nav">
                   <li class = "li-hamburger-nav"> <a class="active" href="/">Home</a></li>
                   <li class = "li-hamburger-nav"> <a href="/about">About</a></li>
                   <li class = "li-hamburger-nav"> <a href="/officers">Officers</a></li>
                   <li class = "li-hamburger-nav"> <a href="/membership">Membership</a></li>
                   <li class = "li-hamburger-nav"> <a href="/contact">Contact Us</a></li>
                     <div id = "mobile-icons">
                      <a class = "dark-shpe-blue" href="https://twitter.com/SHPEAustin/" target="_blank">
                       <i class="fa fa-twitter fa-4x dark-shpe-blue mobile-twitter"></i>
                     </a>
                     <a class = "dark-shpe-blue" href="https://www.facebook.com/SHPEAustin/?fref=ts" target="_blank">
                       <i class="fa fa-facebook-f fa-4x dark-shpe-blue mobile-facebook"></i>
                     </a>
                    </div>
                 </ul>
                 
             </div>
        </div>
        
        
        <div class="navcontent sticky">
           <div id="shpenav" class="navleft">
              <!-- <a class = "dark-shpe-blue" href="/">Society of Hispanic<br>Professional Engineers</a> -->
              <a class="dark-shpe-blue" href="/">SHPE Austin<br>
                 <span class="small">Society of Hispanic <br> Professional Engineers</span>
              </a>
           </div>
           <nav>
              <!-- <div class="menu-header_menu-container"> -->
                 <ul id="menu-header_menu" class="menu">
                    <li class="menu-item dot"><a href="/">Home</a></li>
                    <li class="menu-item dot"><a href="/about">About</a></li>
                    <li class="menu-item dot"><a href="/officers">Officers</a></li>
                    <li class="menu-item dot"><a href="/membership">Membership</a></li>
                    <li class="menu-item"><a href="/contact">Contact Us</a></li>
                 </ul>
              <!-- </div> -->
           </nav>

           <div class="share share-size">
              <div class="textwidget">
                 <ul class="ul-share-size">
                    <li class="share_icon">
                       <a class = "dark-shpe-blue" href="https://twitter.com/SHPEAustin/" target="_blank">
                       <i class="fa fa-twitter"></i>
                       </a>
                    </li>
                    <li class="share_icon">
                       <a class = "dark-shpe-blue" href="https://www.facebook.com/SHPEAustin/?fref=ts" target="_blank">
                       <i class="fa fa-facebook-f"></i>
                       </a>
                    </li>
                    <!-- <li class="share_icon">
                       <a class = "dark-shpe-blue" href="https://instagram.com/" target="_blank">
                       <i class="fa fa-instagram"></i>
                       </a>
                    </li> -->
                 </ul>
                 <span class="clear"></span>
              </div>
           </div>  			
        </div>
        <div class = "space"></div>
      </div>
   </body>
</html>