.panels-container .panel{
    display: inline-block;
    width: 70%;
/*    max-height: 185px;
    min-height: 185px;*/
}

.panels-container .panel-body{
     max-height: 185px;
    min-height: 185px;
    overflow: scroll;
}


.panel{
    margin-top:5px;
}

.about-important{
/*	max-height: 250px !important;
	min-height: 250px !important;*/
	width: 84% !important;
}

.small-panel{
	width: 27% !important;
	margin: 5px;
}

.panels-container{
	width: 90%;
    margin: 10px auto;
    position: relative;
    text-align: center;
}


@media only screen and (max-width: 569px){
    .panels-container .panel{
        display: block;
    }

    .small-panel {
        width: 100% !important;
        margin: 5px;
    }

    .about-important{
        width: 100% !important;
    }
}
    