.contact-form {
    padding: 0px 35px 0px 35px;
}
.custom-button{
    display: block;
    border-radius: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background: #002266;
    font-family: 'Brandon Grotesque', 'brandon-grotesque', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.63, 0.64, 0.3, 1);
    transition: transform 400ms cubic-bezier(0.63, 0.64, 0.3, 1);
    position: relative;
    bottom: 64px;
}

.custom-button:hover{
	  -webkit-transform: rotate(60deg);
   -moz-transform: rotate(60deg);
     -o-transform: rotate(60deg);
        transform: rotate(60deg);
        background: #0137A2;
}

.custom-button:focus{
	  -webkit-transform: rotate(30deg);
   -moz-transform: rotate(30deg);
     -o-transform: rotate(30deg);
        transform: rotate(30deg);
}


.col-sm-10{
	width: 100%;
}

#sel1{
    margin-bottom: 10px;
}

.status {
    display: none;
    width: 300px;
    /* height: 22px; */
    height: auto;
    position: absolute;
    left: 43%;
    margin-left: -100px;
    bottom: 32px;
    background-color: white;
    color: #F44336;
    font-family: Calibri;
    font-size: 16px;
    padding: 3px;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 8px -1px rgba(56, 56, 56, 1);
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;   
}
.new-user{
    color: #002266;
}

#name-prompt{
    position: relative;
    text-align: center;
    color: black;
    top: 150px;
    font-size: 12px;
    font-style: italic;
}

#chat-container{
    position: absolute;
    bottom: 0;
    right: 10%;
    height: 368px;
    background: white;
    width: 250px;
    z-index: 100;
    border: 1px solid #ebebeb;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#chat-content{
    height: 312px;
    padding: 8px 5px 5px 5px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px 5px 5px 5px;
}

#chat-container div, #chat-container form{
    width: 100%;
}

#chat-container input{
    width: 80%;
}

#chat-container button{
    width: 20%;
}

#chat-header{
    border-bottom: 1px solid #E6E6E6;
    padding: 5px;
    height: 30px;
}

#chat-header i{
    float: right;
    padding: 2px;
    cursor: pointer;
}

.content-container{
    display: block;
    height: 85%;
}


#chat-content{
   height: 100%;
}

#chat{
    margin: 0px;
    padding:0px;
}

#send-chat{
    font-family: inherit;
    font-size: 100%;
    padding: 4px;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}


@media (min-width: 768px){
	.col-sm-offset-2 {
    	margin-left: 0px !important;
	}
}