
.row div{
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;

}

#newsletter-buttons{
  text-align:center;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

#prev-newsletter{
  margin-right: 15px;
}

#description{
  height: 79px;
  overflow: scroll;
}

.row img{
  max-height: 199px;
  min-height: 199px;
}

.site-slider-custom-header {
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 0;
    position: relative;
    bottom: 26px;
}

.site-slider-custom-header img {
    max-width: 100%;
    height: auto;
}

.main-page-container{
  width: 100%;
}

.row{
  padding: 0px 5px 0px 20px;
}

.carousel-indicators{
    display: inline-block;
    position: relative;
    padding: -11px;
    bottom: 25px;
}

.carousel-indicators li{
  background-color: #f2f2f2;
    border: 1px solid black;

}