a {
    color: #008CBA;
    line-height: inherit;
    text-decoration: none;
}

/*ul.menu, ul.ul-share-size{
    list-style: square;
    margin: 0 0 18px 1.5em;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.6;
}*/

li{
	margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}


#shpenav{
	width: 22%;
}

.navcontent {
    width: 100%;
    background: #ffffff;
    /*text-align: center;*/
    position: relative;
    min-height: 64px;
    border-bottom: 1px solid #ebebeb;
}

.navleft {
	padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #ebebeb;
    min-height: 64px;
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

li.dot:after {
    content: " • ";
    color: #039;
    position: absolute;
    right: -9px;
}

.ul-hamburger-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    position: relative;
    top: 63px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    z-index: 999;
    text-align:center;
}

.li-hamburger-nav a {
    display: block;
    color: #000;
    padding: 15px 0px 11px 21px;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 29px;
    height: 12%;
}

.li-hamburger-nav a.active {
    background-color: #002266;;
    color: white;
}

.li-hamburger-nav a:hover {
    background-color: #DDDADA;
    /*background-color: #555;*/
    color: white;
    cursor: pointer;
}

/*.navleft a {
    letter-spacing: 5px;
    margin: 0;
    padding: 12px 0 12px 0;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}*/
.navleft a{
    letter-spacing: 5px;
    margin-top: 10px;
    /*padding: 11px 0 12px 0;*/
    padding: 0px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    text-align: center;
    text-decoration: none;
}

span.small{
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
}

nav {
   /* display: inline-block;*/
    padding: 18px 0 0 0;
    width: calc(100% + 112px);
    text-align:center;
    margin: 0 auto;
    /*margin: 0px 0px 0px 50px;*/
}

/*nav .menu-header_menu-container {
    float: left;
}*/


nav ul {
    margin: 0;
   /* padding: 0;*/
    display: inline-block;
    /*float: left;*/
}

nav ul li {
    padding: 0 25px;
    display: inline-block;
    position: relative;
    font-size: 20px;
 /*   margin: 0px 5px 0px 5px;*/
}

nav ul li a {
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
    line-height: 14px;
    color: #001a4d;
    transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}

.share {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.share ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
}

.share ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    float: left;
    border-left: 1px solid #ebebeb;
    min-height: 64px;
}

.share ul li a {
    margin: 0;
    padding: 17px 0 18px 0;
    text-align: center;
    display: block;
    font-size: 28px;
    line-height: 28px;
    transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}

.share-size{
	width: 9%;
}

.share_icon {
    width: 50%;
}


.ul-share-size {
    width: 100%;
}

.space{
	width:100%;
	height:64px;
}

.shpe-austin{
    display: none;
    z-index: 1000;
    border-bottom: 1px solid #ebebeb;
}

i.fa-bars{
    display:none;
}



.mobile-twitter, .mobile-facebook{
    margin: 0 15px 0 15px;
    display: inline-block;
}

#mobile-icons{
    width: 100%;
    position: absolute;
    padding: 0px;
    margin-top: 30px;
    /* z-index: 999; */
    /* bottom: 0; */
    /* height: 100px; */
    /* display: inline-block; */
    /* text-align: center; */
    /* margin: 0 auto; */
}

.responsive-menu{
    display: none;
    z-index: 1000;
}
 
.expand {
 display: block !important; 
}


@media only screen and (max-width: 1386px){
    span.small{
        display: none;
    }

    #shpenav{
        font-size: 32px; 
    }

/*    .share{
        display: none;
    }*/

    nav ul li a {
        font-size: 16px;
    }

    .navleft a{
        font-size: 23px;
        margin-top: 23px;
    }

/*    nav {
        margin-left: 194px;
    }*/

}


@media only screen and (max-width: 980px){

    .sticky{
        position: absolute;
    }
    .navleft{
        display: none;
    }  

    nav{
        display:none;
    }

    .navcontent{
        background: transparent;
    }

    .share-size{
        width: 17%;
    }

    .shpe-austin{
        display: inline-block;
        width: 100%;
        height: 69px;
        background-color: white;
        position: absolute;
        top: 0px;
        
    } 

    .mobile-shpe {
        letter-spacing: 7px;
        margin: 10px;
        padding: 24px 0px 0px 0;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 57px;
        line-height: 0px;
        transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        text-align: center;
    }

    i.fa-bars{
        display:inline-block;
        position: relative;
        bottom: 38px;
        padding: 6px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 729px){
    .share-size{
        width: 13%;
    }

    .mobile-shpe{
        font-size: 50px;
        margin-left: 16px;
    }

}

@media only screen and (max-width: 569px){
    .mobile-shpe{
        font-size: 50px;
        margin-left: 36px;
    }
    
    .sticky{
        z-index: -1;
    } /* here */

    .shpe-austin{
        border-bottom: 1px solid #ebebeb;
    }

}

@media only screen and (max-width: 515px){
    .mobile-shpe{
        font-size: 36px;
    }

}

@media only screen and (max-width: 420px){
    .mobile-shpe{
        font-size: 26px;
    }
}

@media screen and (orientation:landscape) {
    .li-hamburger-nav a{
        padding-top: 4px;
    }
}



