<div class="about-container">
	<div class="panels-container">
		<small-card class="panel panel-primary small-panel" header="Mission">
			   <div class="panel-body" small-card-body>
			   		{{ mission }}
			   </div>
		</small-card>

		<small-card class="panel panel-success small-panel" header="Vision">
			   <div class="panel-body" small-card-body>
			      {{ vision }}
			   </div>
		</small-card>

		<small-card class="panel panel-info small-panel" header="SHPE History">
			   <div class="panel-body" small-card-body>
			      {{ history }} 
			   </div>
		</small-card>
		<br>

		<small-card class="panel panel-warning about-important" header="SHPE Austin History">
			   <div class="panel-body" small-card-body>
			      {{ austinHistory }}
			   </div>
		</small-card>

		<small-card class="panel panel-danger about-important" header="Bylaws">
			   <div class="panel-body" small-card-body>
			   		{{ bylaws }} 
			   </div>
		</small-card>
	</div>
</div>