<div class="announcements">
   <h2 class="thumbnail-title dark-shpe-blue" id="announcement-header"> Announcements </h2>
   <div class="announcement-container">
      <div class = "announcement-icon-container">
         <h3 class=" dark-shpe-blue" id="announcement-title">Announcements</h3>
         <span class="glyphicon glyphicon-bullhorn dark-shpe-blue" aria-hidden="true"></span>
      </div> <!-- .announcement-icon-container -->
      <div class="announcement-content-container">
         <i class="fa fa-spinner fa-spin dark-shpe-blue fa-3x"></i>
      </div> <!-- .announcement-content-container -->
   </div> <!-- .announcement-container -->
</div>
