<div class="membership-container">
   <h1 class="dark-shpe-blue center-text main-title">SHPE Membership</h1>
   <div id="owl-example" class="owl-carousel owl-theme">
      <div class="item dark-cyan">
         <carousel pillar="Mentoring" pillarDescription="Our members mentor high school and college students through our mentorship program.">
            <i class="fa fa-users fa-5x" carousel-body></i>
            <i (click)="moreInformation($event)" data="Mentoring" class="fa fa-info-circle" carousel-body></i>
         </carousel>
      </div>


      <div class="item forest-green">
         <carousel pillar="Community Outreach" pillarDescription="We reach out to local communities and have at least one community service event a month.">
            <i class="fa fa-graduation-cap fa-5x" carousel-body></i>
            <i data="Community Outreach" class="fa fa-info-circle" carousel-body></i>
         </carousel>
      </div>

      <div class="item orange">
         <carousel pillar="Leadership Development" pillarDescription="We provide our members leadership opportunities throughout the year.">
            <i class="fa fa-university fa-5x" carousel-body></i>
            <i data="Leadership Development" class="fa fa-info-circle" carousel-body></i>
         </carousel>
      </div>

      <div class="item yellow">
         <carousel pillar="Professional Development" pillarDescription="We host a wide variety of workshops to enhance our members professional career.">
            <i class="fa fa-briefcase fa-5x" carousel-body></i>
            <i data="Professional Development" class="fa fa-info-circle" carousel-body></i>
         </carousel>
      </div>

      <div class="item dodger-blue">
         <carousel pillar="Chapter Development" pillarDescription="If you are new to Austin, we show you what Austin has to offer through fun activities.">
            <i class="fa fa-hand-rock-o fa-5x" carousel-body></i>
            <i data="Chapter Development" class="fa fa-info-circle" carousel-body></i>
         </carousel>
      </div>

      <div class="item violet">
         <carousel pillar="Sports" pillarDescription="Come play pick up games or join one of our sports leagues!">
            <i class="fa fa-futbol-o fa-5x" carousel-body></i>
            <i data="Sports" class="fa fa-info-circle" carousel-body></i>
         </carousel>
      </div>

      <div class="item sky-blue">
         <carousel pillar="National Conferences" pillarDescription="Every year, SHPE hosts a National Conference and we take members every year.">
            <i class="fa fa-plane fa-5x" carousel-body></i>
            <i data="National Conferences" class="fa fa-info-circle" carousel-body></i>
         </carousel>
      </div>

      <div class="item zombie-green">
         <carousel pillar="Regional Conferences" pillarDescription="If you can't afford the time to fly, join us in our regional conferences.">
            <i class="fa fa-plane fa-5x" carousel-body></i>
            <i data="Regional Conferences" class="fa fa-info-circle" carousel-body></i>
         </carousel>
      </div>
   </div>

   <div class="bottom-container">
      <div class ="member-info">
         <div class ="outer-cal">
            <div class="cal-title">
               <p>SHPE Calendar</p>
            </div>
            <div class = "cal-container">
               <div id="cal">
                  <div id="cal-info">
                     <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                     <p class="calendar-info"><b>Event: </b><span id="event"> </span></p>
                     <p class="calendar-info"><b>Date: </b><span id="date"> </span></p>
                     <p class="calendar-info locationWrapper"><b>Location: </b><span id="location"> </span></p>
                     <p class="calendar-info"><b>More Info: </b><span id="calLink">Link</span></p>
                  </div>
                  <div class="header"> 
                     <span class="left button" id="prev"> &lang; </span> 
                     <span class="left hook"></span> 
                     <span class="month-year" id="label"> June 2002 </span> 
                     <span class="right hook"></span> 
                     <span class="right button" id="next"> &rang; </span>
                  </div>
                  <table id="days">
                     <td>sun</td>
                     <td>mon</td>
                     <td>tue</td>
                     <td>wed</td>
                     <td>thu</td>
                     <td>fri</td>
                     <td>sat</td>
                  </table>
                  <div id="cal-frame">
                     <table class="curr">
                        <tbody>
                           <tr>
                              <td class="nil"></td>
                              <td class="nil"></td>
                              <td>1</td>
                              <td>2</td>
                              <td>3</td>
                              <td>4</td>
                              <td>5</td>
                           </tr>
                           <tr>
                              <td>6</td>
                              <td>7</td>
                              <td>8</td>
                              <td>9</td>
                              <td>10</td>
                              <td class="today">11</td>
                              <td>12</td>
                           </tr>
                           <tr>
                              <td>13</td>
                              <td>14</td>
                              <td>15</td>
                              <td>16</td>
                              <td>17</td>
                              <td>18</td>
                              <td>19</td>
                           </tr>
                           <tr>
                              <td>20</td>
                              <td>21</td>
                              <td>22</td>
                              <td>23</td>
                              <td>24</td>
                              <td>25</td>
                              <td>26</td>
                           </tr>
                           <tr>
                              <td>27</td>
                              <td>28</td>
                              <td>29</td>
                              <td>30</td>
                              <td class="nil"></td>
                              <td class="nil"></td>
                              <td class="nil"></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div> <!-- .cal-container -->
         </div>
         <div class = "job-postings-container">
            <div class="jobs-title">
               <p>Job Postings</p>
            </div>
            <div class="job-tiles">
                  <job 
                     class="job-tile"
                     *ngFor="let job of jobs"
                     position="{{job.position}}"
                     company="{{job.company}}"
                     description="{{job.description}}"
                     poster="{{job.poster}}"
                     url="{{job.url}}"
                  >
                  </job>
            </div>
         </div>
      </div>
      <div class="join-shpe-container">
         <div class="jumbotron">
            <h1 id="join-shpe-austin">Join SHPE Austin</h1>
            <p>If you have any further questions about SHPE Austin, please e-mail us in our Contact Page or e-mail any of the officers from our Officers page. If you would like to join our local chapter, please click on the Paypal button below!</p>
            <div class="paypal">
               <form method="post" action="https://www.paypal.com/cgi-bin/webscr" target="_blank">
                  <input type="hidden" value="_s-xclick" name="cmd">
                  <input type="hidden" value="44KD2JSH3CQX2" name="hosted_button_id">
                  <input border="0" type="image" alt="PayPal - The safer, easier way to pay online!" name="submit" src="/assets/paypal.png">
               </form>
            </div>
         </div>
      </div>
   </div>
</div>