<nav class="main-nav">
     <ul id="menu-header_menu" class="menu">
        <li class="menu-item dot"><a class = "nav-link" href="/">Home</a></li>
        <li class="menu-item dot"><a class = "nav-link" href="/about">About</a></li>
        <li class="menu-item dot"><a class = "nav-link" href="/officers">Officers</a></li>
        <li class="menu-item dot"><a class = "nav-link" href="/membership">Membership</a></li>
        <li class="menu-item"><a class="nav-link" href="/contact">Contact</a></li>
     </ul>
</nav>