<div *ngIf="!showNavigation" class="components">
	<div (click)="toggleNavigation()" class = "hamburger-navigation">
		<i class="fa fa-bars fa-3x dark-shpe-blue responsive-menu"></i>
	</div>
	<div class = "shpe-header">
		<h1 class="dark-shpe-blue">	
			SHPE Austin
		</h1>
	</div>
	<social-media></social-media>
</div>	

<div *ngIf="showNavigation" class="link-navigation">
	<ul class="link-list">
		<a class="links" [class.active]="getCurrentPath('/home')" href="/">Home</a>
		<a class="links" [class.active]="getCurrentPath('/about')" href="/about">About</a>
		<a class="links" [class.active]="getCurrentPath('/officers')" href="/officers">Officers</a>
		<a class="links" [class.active]="getCurrentPath('/membership')" href="/membership">Membership</a>
		<a class="links" [class.active]="getCurrentPath('/contact')" href="/contact">Contact</a>
		<div class="media-links">
			<div class="social-media">
			   <a class = "dark-shpe-blue" href="https://twitter.com/SHPEAustin/" target="_blank">
			      <i class="fa fa-twitter fa-4x dark-shpe-blue mobile-twitter" aria-hidden="true"></i>
			   </a>
			</div>
			<div class="social-media">
			   <a class = "dark-shpe-blue" href="https://www.facebook.com/SHPEAustin/?fref=ts" target="_blank">
			      <i class="fa fa-facebook-f fa-4x dark-shpe-blue mobile-facebook" aria-hidden="true"></i>
			   </a>
			</div>
		</div>
	</ul>
</div>