<div class="job-info">
   <p class="job-position-label">Position:<span class="job-position">{{ position }}</span></p>
   <p class="job-company-label">Company:<span class="job-company">{{ company }}</span></p>
   <p class="job-company-description">Description:<span class="job-description">{{ description }}</span></p>
   <p class="job-company-poster">Posted by:<span class="job-poster">{{ poster }}</span></p>
</div>
<button type="button" class="btn btn-default job-button"><a class="job-link" href="{{ url }}">More Info</a></button>