<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
		<script src = "/javascripts/libs/jquery-2.1.4.min.js"></script>
		<script src = "/javascripts/myscript.js"></script>
	</head>

	<body>
		<h1>We are in the Home Page.</h1>
		<div>
			<a href = 'contact'>Contact Us </a> <br>
			<a href = 'about'>About Us </a> <br>
			<a href = 'classes'>Classes </a>
		</br>

			<div id = 'parent'>
			<button id = 'Juan' style="margin:50px">CLICK</button>
			<p id ="text">Juan Cortez</p>
		</div>
			<div id='buttonWrapper'>
				<button id='submit'>Convert</button>
				<p id='buttonText'>Button has not been clicked. </p>
			</div>
		</div>

		<button id = "database">Get employees database data </button>
	</body>
</html>
